<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </head>
      
    <body>
<div class="row">
        <div class="col">
          <div>
            <span class="minus">-</span>
            <input class="qty" value="1" disabled>
            <span class="plus">+</span>
          </div>
        </div>
        <div class="col">
          <span>price 1</span>
          <span class="price">50</span>
        </div>
        <div class="col">
          <span>sum 1</span>
          <span class="sum">0</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <span class="minus">-</span>
            <input class="qty" value="1" disabled>
            <span class="plus">+</span>
          </div>
        </div>
        <div class="col">
          <span>price 2</span>
          <span class="price">50</span>
        </div>
        <div class="col">
          <span>sum 2</span>
          <span class="sum">0</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span>total</span>
          <span id="total"></span>
        </div>
      </div>




      <script>
      
      function getTotal() {
  var total = 0;
  $('.sum').each(function () {
    total += parseFloat(this.innerHTML);
  });
  $('#total').text(total);
}
getTotal();

$(".qty").each(function () {
    var parent = $(this).parents('.row'),
    price = $('.price', parent),
    sum = $('.sum', parent),
    value = parseInt(this.value) * parseFloat(price.get(0).innerHTML || 0);
    sum.text(value);
    getTotal();
});

$("span.minus").on("click", function () {
  var $qty = $(this).closest('.col').find('.qty'),
      currentVal = parseInt($qty.val());
  if (!isNaN(currentVal) && currentVal > 1) {
    $qty.val(currentVal - 1);
  }
  $('.col .qty').is(function () {
    var parent = $(this).parents('.row'),
        price = $('.price', parent),
        sum = $('.sum', parent),
        value = parseInt(this.value) * parseFloat(price.get(0).innerHTML || 0);
    sum.text(value);
    getTotal();
  });
});

$("span.plus").on("click", function () {
  var $qty = $(this).closest('.col').find('.qty'),
      currentVal = parseInt($qty.val());
  if (!isNaN(currentVal)) {
    $qty.val(currentVal + 1);
  }
  $('.col .qty').is(function () {
    var parent = $(this).parents('.row'),
        price = $('.price', parent),
        sum = $('.sum', parent),
        value = parseInt(this.value) * parseFloat(price.get(0).innerHTML || 0);
    sum.text(value);
    getTotal();
  });
});
      </script>










    </body>
</html>