{% extends "base_generic.html"%}
{% block content %}
{% load static %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y-sm">
    <div class="container">
    <nav class="mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Category name</a></li>
        <li class="breadcrumb-item"><a href="#">Sub category</a></li>
        <li class="breadcrumb-item active" aria-current="page">Items</li>
    </ol> 
    </nav>
    
    <div class="row">
    <div class="col-xl-10 col-md-9 col-sm-12">
    
    
    <main class="card">
        <div class="row no-gutters">
            <aside class="col-sm-6 border-right">
    <article class="gallery-wrap"> 
    <div class="img-big-wrap">
      <div> <a href="{{p.img.url}}" data-fancybox=""><img src="{{p.img.url}}"></a></div>
    </div> <!-- slider-product.// -->
    <div class="img-small-wrap">
      <div class="item-gallery"> <img src="{{p.img.url}}"></div>
      <div class="item-gallery"> <img src="{{p.sub_img_1.url}}"></div>
      <div class="item-gallery"> <img src="{{p.sub_img_2.url}}"></div>
      <div class="item-gallery"> <img src="{{p.sub_img_3.url}}"></div>
    </div> <!-- slider-nav.// -->
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-6">
    <article class="card-body">
    <!-- short-info-wrap -->
        <h3 class="title mb-3">{{ p.name }}</h3>
    
    <div class="mb-3"> 
        <var class="price h3 text-warning"> 
            <span class="currency">US $</span><span class="num">{{p.price}}</span>
        </var> 
        <span>/per Unit</span> 
    </div> <!-- price-detail-wrap .// -->
    <dl>
      <dt>Description</dt>
      <dd><p>{{p.descreption}}</p></dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-3">Brend</dt>
      <dd class="col-sm-9">{{p.brand}}</dd>
    
    </dl>
    <div class="rating-wrap">
    
        <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
            </li>
            <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
            </li>
        </ul>
        <div class="label-rating">132 reviews</div>
        <div class="label-rating">154 orders </div>
    </div> <!-- rating-wrap.// -->
    <hr>
        <div class="row">
            <div class="col-sm-5">
                <dl class="dlist-inline">
                  <dt>Quantity: </dt>
                  <dd> 
                      <select class="form-control form-control-sm" style="width:70px;">
                          <option> 1 </option>
                          <option> 2 </option>
                          <option> 3 </option>
                      </select>
                  </dd>
                </dl>  <!-- item-property .// -->
            </div> <!-- col.// -->
            
        </div> <!-- row.// -->
        <hr>
        <form method ="POST" action="{% url 'by_product'%}">
                {% csrf_token %}
                <input type="hidden"  name="price" value="{{p.price}}">
                <input type="hidden"  name="name" value="{{p.name}}">
                
            <label class="btn  btn-warning">
                    <i class="fa fa-credit-card"></i>
                    <input type="submit" class="btn  btn-warning" value= "By Now"> 
            </label>
            <label class="btn  btn-outline-primary">		
                <a href="#" class="btn  btn-outline-primary"> <i class="fas fa-shopping-cart"></i> Add to cart </a></label>
                         <!-- price-wrap.// -->
    <!-- short-info-wrap .// -->
    </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </main> <!-- card.// -->
    
    <!-- PRODUCT DETAIL -->
    
    <!-- PRODUCT DETAIL .// -->
    
    </div> <!-- col // -->
    
    </div> <!-- row.// -->
    
    </div><!-- container // -->
    </section>
    <!-- ========================= SECTION CONTENT .END// ========================= -->
    
    
{% endblock %}
