{% extends "base_generic.html"%}
{% block content %}
{% load static %}


    <!-- product section -->
    <div class="container">
	<section class="product-section">
		<div class="container">
			
			<div class="row">
				<div class="col-lg-6">
					<div class="product-pic">
						<img class="product-big-img" src="{{p.img.url}}" alt="">
                    </div>
                    
                
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
						<div class="product-thumbs-track">
							<div class="pt active" data-imgbigurl="{{p.img.url}}"><img src="{{p.img.url}}" alt=""></div>
							<div class="pt" data-imgbigurl="{{p.sub_img_1.url}}"><img src="{{p.sub_img_1.url}}" alt=""></div>
							<div class="pt" data-imgbigurl="{{p.sub_img_2.url}}"><img src="{{p.sub_img_2.url}}" alt=""></div>
							<div class="pt" data-imgbigurl="{{p.sub_img_3.url}}"><img src="{{p.sub_img_3.url}}" alt=""></div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 product-details">
                    <br>
                        <h2 class="p-title">{{p.name}}</h2>
					<div class="pricing-price pb-1 text-primary color-primary-text ">
                        <h1 style="font-weight: 1000; font-size: 3em;">
                            <span style="font-size: 20px;">$</span>{{p.price}}
                        </h1>
                    </div>
					
					<h4 class="p-stock">Brend: <span>{{p.brand}}</span></h4>
					<div class="rating-wrap">
    
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active"> 
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                            </li>
                        </ul>
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
					
					
					<div class="quantity">
						<p>Quantity</p>
                        <div class="pro-qty"><input type="text" value="1"></div>
                    </div>
                    <hr>
                    <div class="container">
                    <form method ="POST" action="{% url 'by_product' slug=p.slug %}">
                        {% csrf_token %}
                        <input type="hidden"  name="price" value="{{p.price}}">
                        <input type="hidden"  name="name" value="{{p.name}}">
                        
                   
                            
                            <input type="submit" class="btn  btn-warning" value= "By Now"> 
                    
                
                   		
                        <a href="#" class="btn  btn-outline-primary"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
                    
                    </form>
                </div>
                <hr>
                <div class="container">
                    <h3>Descreption</h3>
                    <p>{{p.descreption}}</p>
                </div>
				</div>
			</div>
		</div>
    </section>
    </div>
    <hr>
	<!-- product section end -->

    

{% endblock %}